<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>       
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="./validate.js"></script>
    <script src="./app.js"></script>
    <script src="./ngGeolocation.js"></script>
    
  </head>
  <body>
      <div ng-controller="MyController">
          
          <div class="container">
              <div>
                  <label>Search name<label>
                  <input type="text" ng-model="searchName">
                   
                  <label>Search username<label>
                  <input type="text" ng-model="searchUsername">
                  
                  <label>Search email<label>
                  <input type="text" ng-model="searchEmail">
                   
              </div>
              <validate-unique tasks="tasks">
                    
                </validate-unique>
              <div>
                <p>Sort by:</p>
                <button ng-click="changeSort('name')">Name</button>
                <button ng-click="changeSort('username')">Username</button>
                <button ng-click="changeSort('email')">Email</button>
                <button ng-click="changeSort('company.name')">Company</button>
                <button ng-click="changeSort('address.street')">Street</button>
              </div>
              <div ng-repeat="item in items | orderBy : sortBy | filter : filterName | filter : filterUsername | filter : filterEmail">
                <div>
                    <div>{{item.name}}</div>
                    <div>{{item.username}}</div>
                    <div>{{item.email}}<button ng-click="copyEmail(item.email)">Copy email</button></div>
                    <div>{{item.address.street}}</div>
                    <div>{{item.company.name}}</div>
                    <div>{{item.distance}}</div><br>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger" ng-click="removeItem(item.id)">Delete</button>
                </div>
              </div>
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Create new user</button>
        
              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">

                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Create user</h4>
                          </div>

                          <div class="modal-body">
                              <form ng-submit="addItem()" name="myForm" role="form" novalidate>
                                  <div class="form-group">
                                      <label> Name</label>
                                      <input type="text" ng-model="newItem.name" class="form-control" name="name" placeholder="Enter name" dbrans-validate="{unique: isUniqueName}" required>
                                      <span class="errorMessage" ng-show="myForm.name.$touched && myForm.name.$invalid">
                                              Name is required and must be unique
                                      </span>
                                      
                                  </div>
                                  <div class="form-group">
                                      <label> Username</label>
                                      <input type="text" ng-model="newItem.username" class="form-control" name="username" placeholder="Enter username" dbrans-validate="{unique: isUniqueUsername}">
                                      <span class="errorMessage" ng-show="myForm.username.$touched && myForm.username.$invalid">
                                              Username required and must be unique
                                      </span>
                                      
                                      
                                  </div>
                                  <div class="form-group">
                                      <label> Email</label>
                                      <input type="email" ng-model="newItem.email" class="form-control" name="email" placeholder="Enter email" required>
                                      <span class="errorMessage" ng-show="myForm.email.$touched && myForm.email.$invalid">
                                              Email is required
                                      </span>
                                  </div>
                                  <!--Address-->
                                  <div class="form-group">
                                      <label> Street</label>
                                      <input type="text" ng-model="newItem.street" class="form-control" name="street" placeholder="Enter street" >
                                  </div>
                                  <div class="form-group">
                                      <label> Suite</label>
                                      <input type="text" ng-model="newItem.suite" class="form-control" name="suite" placeholder="Enter suite" >
                                  </div>
                                  <div class="form-group">
                                      <label> City</label>
                                      <input type="text" ng-model="newItem.city" class="form-control" name="city" placeholder="Enter city" >
                                  </div>
                                  <div class="form-group">
                                      <label> Zipcode</label>
                                      <input type="text" ng-model="newItem.zipcode" class="form-control" name="zipcode" placeholder="Enter zipcode" >
                                  </div>
                                  <!--Geo-->
                                  <div class="form-group">
                                      <label> Latitude</label>
                                      <input type="text" ng-model="newItem.lat" class="form-control" name="lat" placeholder="Enter latitude" >
                                  </div>
                                  <div class="form-group">
                                      <label> Longitude</label>
                                      <input type="text" ng-model="newItem.lng" class="form-control" name="lng" placeholder="Enter longitude" >
                                  </div>
                                  <div class="form-group">
                                      <label> Phone</label>
                                      <input type="text" ng-model="newItem.phone" class="form-control" name="phone" placeholder="Enter phone" validate-phone>
                                  </div>
                                  <div class="form-group">
                                      <label> Website</label>
                                      <input type="text" ng-model="newItem.website" class="form-control" name="website" placeholder="Enter website" validate-site>
                                  </div>
                                  <!--COMPANY-->
                                  <div class="form-group">
                                      <label> Company</label>
                                      <input type="text" ng-model="newItem.companyName" class="form-control" name="companyName" placeholder="Enter company" dbrans-validate="{unique: isUniqueCompany}" required>
                                      <span class="errorMessage" ng-show="myForm.companyName.$touched && myForm.companyName.$invalid">
                                              Company name is required and must be unique
                                      </span>
                                  </div>
                                  <div class="form-group">
                                      <label> Company catchphrase</label>
                                      <input type="text" ng-model="newItem.catchPhrase" class="form-control" name="catchPhrase" placeholder="Enter company catchphrase">
                                  </div>
                                  <div class="form-group">
                                      <label> Company bs</label>
                                      <input type="text" ng-model="newItem.bs" class="form-control" name="bs" placeholder="Enter company BS">
                                  </div>
                                  <button  type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid || !myForm.$dirty">Create</button>
                              </form>
                          </div>

                          <div class="modal-footer">
                          </div>

                      </div>

                  </div>
              </div>
              <!-- End of Modal -->
          </div>
          <!-- End of container -->
    
      </div>
      <!-- End of controller -->
  </body>
</html>
